<ion-header>
  <ion-toolbar>
    <ion-title>Sentence Training </ion-title>
    <ion-buttons slot="end">
      <ion-button> <!--upload button-->
        <label>
          <input style="position: absolute; opacity: 0" type="file" name="file" id="addFile" accept=".txt"
            (change)="addFileChange($event)" />
          <ion-icon slot="icon-only" name="add-outline"></ion-icon>
        </label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" placeholder="搜索/Search" show-clear-button="always" clear-icon="trash-bin"
    (ionChange)="onInputChange($event)"></ion-searchbar>

  <ion-list [inset]="true">
    <ion-item *ngFor="let sentence of sentences; let index=index;" detail="true" detail-icon="caret-forward-outline"
      button [routerLink]="['/recordingSentence', sentence.name]">
      <ion-badge slot="start">{{sentence.index}}</ion-badge>
      <ion-label>{{sentence.title}}</ion-label>
      <ion-checkbox slot="end" [checked]="sentence.remembered" (click)="onCheckBoxClick($event)" (ionChange)="onCheckboxChange(sentence,$event)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>