<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button default-href="#" (click)="onBack()"></ion-back-button> 
  </ion-buttons>
    <ion-title>English Words</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let wordsItem of wordsList">
    <ion-img
      [src]="wordsItem.img"
      alt="words-1"
      class="img"
    ></ion-img>
    <ion-card-header>
      <ion-card-title>{{wordsItem.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>word</ion-label>
          <ion-label>中文翻译</ion-label>
        </ion-item>
        <ion-item *ngFor="let word of wordsItem.words">
          <ion-label>{{word.en}}</ion-label>
          <ion-label>{{word.cn}}</ion-label>
          <ion-checkbox slot="end" [checked]="word.remembered" (ionChange)="onCheckboxChange(word,$event)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
