$primary-color: #0d0e0d;
$secondary-color: #6c757d;
$light-blue-color: #007bff;
$deep-blue-color: #f3f4f5;

ion-menu {
  --ion-background-color: $light-blue-color;
  border: 5px solid $deep-blue-color;

  ion-list-header {
    color: #0d0e0d;
    font-weight: bold;
    padding: 10px;
    background-color: $light-blue-color;
    border-bottom: 5px solid $deep-blue-color;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: lighten($light-blue-color, 70%);
    }
  }

  ion-item {
    color: #f5d5d5;
    background-color: #fff;
    ion-icon {
      color: #f1c3c3;
    
    }

    &:hover {
      background-color: mix($light-blue-color, #000, 10%);
      ion-icon {
        color: #007bff;
      }
    }

    &.selected {
      background-color: $deep-blue-color;
      ion-icon {
        color: #007bff;
      }
    }

    &.active {
      background-color: darken($light-blue-color, 20%);
      ion-icon {
        color: #ffffff;
      }
    }
  }
}

ion-menu-toggle {
  ion-item {
    color: $primary-color;
    background-color: #fff;
    ion-icon {
      color: $primary-color;
    
    }

    &:hover {
      background-color: lighten($primary-color, 30%);
      ion-icon {
        color: #fff;
      }
    }

    &.active {
      background-color: darken($primary-color, 10%);
      ion-icon {
        color: #fff;
      }
    }
  }
}

ion-router-outlet {
  background-color: $light-blue-color;
  border: 5px solid $deep-blue-color;
  padding: 20px;

  &.fade-enter-active,
  &.fade-leave-active {
    transition: opacity 0.3s ease;
  }

  &.fade-enter,
  &.fade-leave-to {
    opacity: 0;
  }
}
